<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SuperRegistryEntities" connectionString="metadata=res://*/Entities.SuperheroRegistry.csdl|res://*/Entities.SuperheroRegistry.ssdl|res://*/Entities.SuperheroRegistry.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=SuperRegistry;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>